.venv/
.env
.idea/
__pycache__/
*.pyc
.ipynb_checkpoints/
Thumbs.db
.DS_Store
~$*.docx

# Local archives
/*.zip
/*.rar

# Published reports
/Reports/**
!/Reports/**/
!/Reports/Project Closure Report.pdf
!/Reports/Week1 Report/Data Specification Document.pdf
!/Reports/Week4 Report/Model Validation Report.pdf
!/Reports/Week4 Report/Performance Benchmark Documentation.pdf
!/Reports/Week6 Report/Model Performance Report.pdf
!/Reports/Week8 Report/Final Project Report.pdf
